@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Caslon+Text&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* common css */
body {
  color: #999999;
  font-family: "Lato", sans-herif;
  font-size: 16px;
}
a {
  text-decoration: none;
}
li {
  display: inline-block;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Libre Caslon Text", serif;
  color: #222222;
}
h1 {
  font-size: 41px;
  font-weight: 400;
  line-height: 51px;
  text-align: center;
  margin: 0px 0px 30px;
}
h2 {
  display: inline-block;
  font-size: 32px;
  margin: 20px 0px;
  padding-bottom: 6px;
}
h3 {
  font-size: 24px;
}
p {
  margin: 10px 0px 25px;
  line-height: 25px;
}
span {
  text-transform: uppercase;
  font-size: 13px;
  margin: 20px 0px;
  display: inline-block;
  padding-bottom: 6px;
  color: #999999;
}
small {
  margin: 0px 30px;
  font-size: 14px;
}
small i {
  color: #222222;
  margin-right: 5px;
}
img {
  max-width: 100%;
}

.border {
  border-bottom: 1px solid #dedede;
}

/* header section */

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  width: 66.66%;
  margin: auto;
  max-width: 100%;
}
.menu-bar {
  margin: 0 auto;
}
.menu {
  margin-left: 30px;
  text-transform: capitalize;
  line-height: 16px;
  font-weight: 500;
}
.menu a {
  color: #222222;
}
.menu:hover {
  opacity: 0.7;
}
.menu-button {
  display: none;
}
.menu-button button {
  font-size: 30px;
  border: 0;
  background: transparent;
}
.icon {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;

  text-align: center;
  color: #ffff;
  background: #333333;
}
/* banner section */
.banner {
  background-image: url(../image/Group\ 179.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  padding: 170px 0px 50px;
}

.social-icon {
  text-align: center;
}
.social-icon .icon {
  margin-left: 10px;
}

/* post section */
main {
  width: 100%;
  max-width: 100%;
}
