@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Caslon+Text&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* common css */
body {
  color: #999999;
  font-family: "Lato", sans-herif;
  font-size: 16px;
}
a {
  text-decoration: none;
}
li {
  display: inline-block;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Libre Caslon Text", serif;
  color: #222222;
}
h1 {
  font-size: 41px;
  font-weight: 400;
  line-height: 51px;
  text-align: center;
  margin: 0px 0px 30px;
}
h2 {
  display: inline-block;
  font-size: 32px;
  margin: 20px 0px;
  padding-bottom: 6px;
}
h3 {
  font-size: 24px;
}
p {
  margin: 10px 0px 25px;
  line-height: 25px;
}
span {
  text-transform: uppercase;
  font-size: 13px;
  margin: 20px 0px;
  display: inline-block;
  padding-bottom: 6px;
  color: #999999;
}
small {
  margin: 0px 30px;
  font-size: 14px;
}
small i {
  color: #222222;
  margin-right: 5px;
}
img {
  max-width: 100%;
}

.border {
  border-bottom: 1px solid #dedede;
}

/* header section */

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  width: 1100px;
  margin: auto;
  max-width: 100%;
}

.menu {
  margin-left: 30px;
  text-transform: capitalize;
  line-height: 16px;
  font-weight: 500;
}
.menu a {
  color: #222222;
}
.menu:hover {
  opacity: 0.7;
}
.menu-button {
  display: none;
}
.menu-button button {
  font-size: 30px;
  border: 0;
  background: transparent;
}
.icon {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;

  text-align: center;
  color: #ffff;
  background: #333333;
}
/* banner section */
.banner {
  background-image: url(../image/Group\ 179.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  padding: 170px 0px 50px;
}
.banner-container {
  width: 805px;
  max-width: 100%;
  margin: auto;
  padding: 0px 15px;
}

.social-icon {
  text-align: center;
}
.social-icon .icon {
  margin-left: 10px;
}

/* post section */
main {
  width: 100%;
  max-width: 100%;
}
.container {
  width: 70%;
  margin: 30px auto;
  text-align: center;
}
.post {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 15px;
}
article {
  flex: 0 0 auto;
  width: 50%;
  padding: 0px 15px;
  margin-top: 30px;
}
.post-card {
  width: 100%;
}
.galery {
  width: 100%;
  text-align: center;
}
.galery .post {
  padding: 0px 10px;
}
.galery img {
  width: 100%;
}
.instagram-post {
  flex: 0 0 auto;
  width: calc(100% / 8);
  padding: 0px 10px;
  margin-top: 30px;
}

/* footer section */

footer {
  margin-top: 80px;
  text-align: center;
}
footer nav {
  justify-content: center;
}
.footer-top {
  padding-bottom: 30px;
}
.footer-bottom {
  text-align: center;
  padding: 35px 0px;
}
small a {
  color: #999999;
}
small a:hover {
  color: #222222;
}

/* responsive design */
@media only screen and (max-width: 1080px) {
  small {
    margin: 0px 20px;
    font-size: 14px;
  }
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 766px) {
  .banner {
    padding-top: 120px;
  }
  nav {
    width: 100%;
    padding: 40px 15px;
  }
  .menu-button {
    display: block;
  }
  h1 {
    font-size: 32px;
    line-height: 44px;
  }
  .menu-bar {
    display: none;
  }

  .container {
    width: 100%;
  }
  article {
    width: 100%;
    max-width: 100%;
  }
  .post-card img {
    width: 100%;
  }
  h2 {
    margin: 15px 0px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    margin: 10px 0px 20px;
    line-height: 25px;
  }
  span {
    margin: 15px 0px;
  }
  .instagram-post {
    width: 25%;
  }
}

@media only screen and (max-width: 540px) {
  .footer-top .menu {
    font-size: 14px;
    margin-left: 16px;
  }
  article {
    width: 100%;
  }
  .menu-button {
    display: block;
  }
  h1 {
    font-size: 28px;
    line-height: 36px;
  }
  h3 {
    font-size: 20px;
  }
  .instagram-post {
    width: calc(100% / 3);
    padding: 0px 7px;
  }
  .galery .post {
    padding: 0px 7px;
  }
}
