@import url("https://fonts.googleapis.com/css2?family=Lato&family=Libre+Caslon+Text&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* common css */
body {
  color: #999999;
  font-family: "Lato", sans-herif;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #222222;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Libre Caslon Text", serif;
  color: #222222;
}
h1 {
  font-size: 41px;
  font-weight: 400;
  line-height: 51px;
  text-align: center;
  margin: 0px 0px 30px;
}
.section-title {
  display: inline-block;
  font-size: 32px;
  margin-bottom: 40px;
  padding-bottom: 6px;
  text-align: center;
}
h3 {
  font-size: 24px;
}

p {
  margin: 10px 0px 25px;
  line-height: 25px;
}
.post-category {
  text-transform: uppercase;
  font-size: 13px;
  margin: 20px 0px;
  display: inline-block;
  padding-bottom: 6px;
  color: #999999;
}
.card-meta {
  margin: 0px 10px;
  font-size: 14px;
  display: inline-block;
}
.card-meta i {
  color: #222222;
  margin-right: 5px;
}
img {
  max-width: 100%;
}
button {
  border: 0;
}
.border {
  border-bottom: 1px solid #dedede;
}
.container {
  width: 1320px;
  margin: auto;
  padding: 0px 15px;
}
/* header section */

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 40px 0px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  margin: auto;
  max-width: 100%;
}

.menu-item {
  margin: 0 15px;
  text-transform: capitalize;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
}
.menu-item a {
  color: #222222;
}
.menu-item:hover {
  opacity: 0.7;
}
.menu-button {
  display: none;
}
.menu-button i {
  font-size: 30px;
}
.search {
  border: 0;
  background: transparent;
  color: #ffff;
}
li a {
  display: block;
}
.icon {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background: #333333;
  margin: 0px 12px;
  display: inline-block;
}
.icon a {
  color: #ffff;
}

/* banner section */
.banner {
  /* display: none; */
  background-image: url(../image/Group\ 179.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  padding: 170px 0px 100px;
}
.banner-container {
  width: 70%;
  max-width: 100%;
  margin: auto;
  padding: 0px 15px;
}

.social-icon {
  text-align: center;
}

/* post section */
main {
  width: 100%;
  max-width: 100%;
  text-align: center;
}
.trending-post {
  text-align: center;
  padding-top: 80px;
}
.post {
  width: 66.67%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
}

.post-card {
  flex: 0 0 auto;
  width: 50%;
  padding: 0px 15px;
  margin-bottom: 30px;
}
.post-card img {
  width: 100%;
}
.instagram-post {
  width: 100%;
  text-align: center;
  padding-top: 80px;
}
.galery {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 15px;
}
/* .galery img {
  width: 100%;
} */
.instagram-photo {
  transition: 0.5s all ease-in-out;
  width: 100%;
}
.instagram-photo-container {
  flex: 0 0 auto;
  width: calc(100% / 8);
  padding: 0px 10px;
  height: auto;

  overflow: hidden;
}
.instagram-photo-container:hover .instagram-photo {
  transform: scale(1.2);
}

/* footer section */

footer {
  text-align: center;
}

.footer-top {
  padding-top: 80px;
  padding-bottom: 30px;
}
.footer-nav {
  margin: 30px 0px;
}
.footer-bottom {
  text-align: center;
  padding: 35px 0px;
}
small a {
  color: #999999;
}
small a:hover {
  color: #222222;
}

/* responsive design */
@media only screen and (max-width: 1400px) {
  .container {
    width: 1180px;
  }

  .post {
    width: 75%;
  }
}

@media only screen and (max-width: 1240px) {
  .container {
    width: 980px;
  }
  .banner-container {
    width: 85%;
  }
  .post {
    width: 100%;
  }
}
@media only screen and (max-width: 1080px) {
  .container {
    width: 720px;
  }
  .menu-item {
    margin: 0px 10px;
  }
  h1 {
    font-size: 30px;
  }
  small {
    margin: 0px 10px;
    font-size: 12px;
  }
  h3 {
    font-size: 18px;
  }
  .post p {
    font-size: 14px;
  }
  .instagram-photo-container {
    width: 25%;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .banner-container {
    width: 90%;
  }
  .post {
    width: 91%;
  }
  .banner {
    padding-top: 120px;
  }

  .menu-button {
    display: block;
  }
  /* h1 {
    font-size: 32px;
    line-height: 44px;
  } */
  .menu-bar {
    display: none;
  }

  .container {
    width: 100%;
  }
  .section-title {
    font-size: 24px;
  }
  .section-title {
    margin: 15px 0px;
  }
  h3 {
    font-size: 17px;
  }
  .post p {
    margin: 10px 0px 20px;
    line-height: 25px;
    font-size: 12px;
  }
  .post-category {
    margin: 15px 0px;
  }
  .instagram-photo-container {
    width: calc(100% / 3);
    padding: 0px 7px;
    margin-top: 20px;
  }
  .icon {
    margin: 0px 10px;
  }
}

@media only screen and (max-width: 540px) {
  .container {
    width: 100%;
  }
  .banner-container {
    width: 100%;
  }
  .post {
    width: 100%;
  }
  .footer-top .menu-item {
    font-size: 14px;
  }

  h1 {
    font-size: 28px;
    line-height: 36px;
  }
  h3 {
    font-size: 30px;
  }
  .post-card {
    width: 80%;
    padding: 0;
    margin: 0px auto;
  }
  h3 {
    font-size: 20px;
  }
  .post p {
    margin: 10px 0px 20px;
    line-height: 25px;
    font-size: 16px;
  }
  .trending-post {
    padding-top: 50px;
  }
  .instagram-post {
    padding-top: 50px;
  }
  .galery {
    padding: 0px 7px;
  }
}
@media only screen and (max-width: 360px) {
  .post-card {
    width: 100%;
  }
  .menu-item {
    margin: 0px 3px;
  }
  .instagram-photo-container {
    width: 50%;
  }
  .card-meta {
    margin: 0 2px;
  }
  .icon {
    margin: 0px 6px;
  }
}
